.loading-component-container {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;

   display: flex;
   align-items: center;
   justify-content: center;

   background-color: rgba(0, 0, 0, 0.3);

   z-index: 1080;
}

.loading-component-container.blocking {
   background-color: #FFFFFF;
}

.loading-component-container > * {
   scale: 4;
}