
.custom-scrollbar {
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
   display: none;
}

.custom-nav {
   padding-top: 0.5rem;
   
   height: 100%;

   overflow-y: auto;

   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}

.custom-nav::-webkit-scrollbar {
   display: none;
}